 <!--Main Navigation-->
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/search">
                    <strong>Life ++</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Life Search</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" >My Account
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                   <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="/">Logout</a>
                </li>
                </ul>
                </div>
            </div>
        </nav>
        <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
            <section class="view intro-2">
                <div class="full-bg-img">
                    <div class="mask rgba-stylish-light flex-center">
                        <div class="container flex-center">
                            <div class="row pt-5 mt-3">
                                <div class="col-md-12 mb-3">
                                    <div class="intro-info-content text-center">
                                        <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s">MY
                                            <a class="white-text font-weight-bold">LIFE ++</a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            </div>
        </div>
    </header>
    <!--Main Navigation-->

    <!--Main Layout-->
    <main>

        <div class="container">



            <!--Section: Tabs-->
            <section>

                <!-- Tab panels -->
                <div class="tab-content">

                    <!--Panel 1-->
                    <div class="tab-pane fade  show active" id="panel11" role="tabpanel">
                        <br>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <!--Projects section v.4-->
                                <section class="text-center mb-5">

                                    <!--Grid row-->
                                    <div class="row mb-4">

                                        <!--Grid column-->
                                        <div class="col-md-6 mb-4">
                                            <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg');">

                                                <!-- Content -->
                                                <div class="text-white text-center d-flex align-items-center rgba-stylish-strong py-5 px-4">
                                                    <div>
                                                        <h3 class="mb-4 mt-4 font-weight-bold">
                                                            <strong>Project title</strong>
                                                        </h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                                                            fugiat, laboriosam, voluptatem, optio vero odio nam sit officia
                                                            accusamus minus error nisi architecto nulla ipsum dignissimos.
                                                            Odit sed qui, dolorum!.</p>
                                                        <a class="btn btn-outline-white btn-sm">
                                                            <i class="fa fa-clone left"></i> View project</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                </section>
                                <!--Projects section v.4-->

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                    </div>
                    <!--/.Panel 1-->

                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel12" role="tabpanel">
                        <br>

                        <!--Section: Team v.3-->
                        <section class="section team-section pb-4">

                            <!-- Grid row -->
                            <div class="row mb-lg-4 text-center text-md-left">

                                <!-- Grid column -->
                                <div class="col-lg-6 col-md-12 mb-4">

                                    <div class="col-md-6 float-left">
                                        <div class="avatar mx-auto">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
                                        </div>
                                    </div>

                                    <div class="col-md-6 float-right">
                                        <h4>
                                            <strong>John Doe</strong>
                                        </h4>
                                        <h6 class="font-weight-bold grey-text mb-4">Web Designer</h6>
                                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                                            tenetur.</p>

                                        <!-- Facebook -->
                                        <a class="p-2 m-2 fa-lg fb-ic">
                                            <i class="fa fa-facebook"> </i>
                                        </a>
                                        <!-- Twitter -->
                                        <a class="p-2 m-2 fa-lg tw-ic">
                                            <i class="fa fa-twitter"> </i>
                                        </a>
                                        <!-- Dribbble -->
                                        <a class="p-2 m-2 fa-lg dribbble-ic">
                                            <i class="fa fa-dribbble"> </i>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-6 col-md-12 mb-4">

                                    <div class="col-md-6 float-left">
                                        <div class="avatar mx-auto">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="z-depth-1" alt="Second sample avatar image">
                                        </div>
                                    </div>

                                    <div class="col-md-6 float-right">
                                        <h4>
                                            <strong>Maria Kate</strong>
                                        </h4>
                                        <h6 class="font-weight-bold grey-text mb-4">Photographer</h6>
                                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                                            tenetur.</p>

                                        <!-- Facebook -->
                                        <a class="p-2 m-2 fa-lg fb-ic">
                                            <i class="fa fa-facebook"> </i>
                                        </a>
                                        <!-- YouTube -->
                                        <a class="p-2 m-2 fa-lg yt-ic">
                                            <i class="fa fa-youtube"> </i>
                                        </a>
                                        <!-- Instagram -->
                                        <a class="p-2 m-2 fa-lg ins-ic">
                                            <i class="fa fa-instagram"> </i>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row text-center text-md-left">

                                <!-- Grid column -->
                                <div class="col-lg-6 col-md-12 mb-4">

                                    <div class="col-md-6 float-left">
                                        <div class="avatar mx-auto">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="z-depth-1" alt="Fourth sample avatar image">
                                        </div>
                                    </div>

                                    <div class="col-md-6 float-right">
                                        <h4>
                                            <strong>Anna Deynah</strong>
                                        </h4>
                                        <h6 class="font-weight-bold grey-text mb-4">Web Developer</h6>
                                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                                            tenetur.</p>

                                        <!-- Facebook -->
                                        <a class="p-2 m-2 fa-lg fb-ic">
                                            <i class="fa fa-facebook"> </i>
                                        </a>
                                        <!-- Twitter -->
                                        <a class="p-2 m-2 fa-lg tw-ic">
                                            <i class="fa fa-twitter"> </i>
                                        </a>
                                        <!-- GitHub -->
                                        <a class="p-2 m-2 fa-lg git-ic">
                                            <i class="fa fa-github"> </i>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <div class="col-md-6 float-left">
                                        <div class="avatar mx-auto">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="z-depth-1" alt="Fifth sample avatar image">
                                        </div>
                                    </div>

                                    <div class="col-md-6 float-right">
                                        <h4>
                                            <strong>Sarah Melyah</strong>
                                        </h4>
                                        <h6 class="font-weight-bold grey-text mb-4">Front-end Developer</h6>
                                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                                            tenetur.</p>

                                        <!-- Google + -->
                                        <a class="p-2 m-2 fa-lg gplus-ic">
                                            <i class="fa fa-google-plus"> </i>
                                        </a>
                                        <!-- LinkedIn -->
                                        <a class="p-2 m-2 fa-lg li-ic">
                                            <i class="fa fa-linkedin"> </i>
                                        </a>
                                        <!-- Email -->
                                        <a class="p-2 m-2 fa-lg email-ic">
                                            <i class="fa fa-envelope"> </i>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!--Section: Team v.3-->
                    </div>
                    <!--/.Panel 2-->

                    <!--Panel 3-->
                    <div class="tab-pane fade" id="panel13" role="tabpanel">
                        <br>

                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12">

                                <div id="mdb-lightbox-ui"></div>

                                <div class="mdb-lightbox no-gutters">

                                    <figure class="col-md-4">
                                        <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(71).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(71).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-4">
                                        <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(65).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(65).jpg" class="img-fluid" />
                                        </a>
                                    </figure>

                                    <figure class="col-md-4">
                                        <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(84).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(84).jpg" class="img-fluid" />
                                        </a>
                                    </figure>

                                    <figure class="col-md-4">
                                        <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(88).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(88).jpg" class="img-fluid" />
                                        </a>
                                    </figure>

                                    <figure class="col-md-4">
                                        <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(79).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(79).jpg" class="img-fluid" />
                                        </a>
                                    </figure>

                                    <figure class="col-md-4">
                                        <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(81).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(81).jpg" class="img-fluid" />
                                        </a>
                                    </figure>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/.Panel 3-->

                    <!--Panel 4-->
                    <div class="tab-pane fade" id="panel14" role="tabpanel">
                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                            ratione porro voluptate odit minima.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                            ratione porro voluptate odit minima.</p>

                    </div>
                    <!--/.Panel 4-->

                </div>

            </section>
            <!--Section: Tabs-->

        </div>


    </main>
    <!--Main Navigation-->